MONGODB_URI=mongodb+srv://Data:Abhi2002@mymongodb.s0irl.mongodb.net/task_management?retryWrites=true&w=majority&appName=mymongodb
PORT=4000
JWT_SECRET=U8N6bc+59OmyNY5d6gYp5cbAWayB73BmVT+1EUQwYvM=

# Copy this file to .env and edit values before running the server
